.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: rgba(70, 76, 91, .9);
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;  /*display: none;*/
}

.tooltip::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  border-top-color: rgba(70, 76, 91, .9);
}
